
body
{
    background-color: lightskyblue;
}

p
{
    color: darkgreen;
    text-align: center;
    border: 1px solid darkblue;
    padding: 40px;
    margin: 30px;
}

h4
{
    color: darkgreen;
    text-align: center;
    border: 1px solid olivedrab;
    padding: 5px;
    margin: 30px;
}

.home-banner
{
    background-image: url("../images/home-banner.jpg");
    /*background-color: aquamarine;*/
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.allRepetitions
{
    padding: 5px;
    margin: 30px;
}

.page-content
{
    background-color: lightgrey;
}