<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks user panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<div class="row">
    <div class="page-header" id="pageHead"> <!-- style="background-color: lightgrey;" -->
        <a href="#" th:href="@{/oauth2/redirect/log}" id="homeLink" role="link">HOME</a>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="myList" role="tablist">
            <tr th:each="exercise,idx: ${exerciseList}">
                <a class="list-group-item list-group-item-action active" data-toggle="list" th:href="'#'+${idx.index}" th:if="${idx.index} == 0" role="tab"><td th:text="'Day ' + ${exercise.date} + ${exercise.name}" /></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" th:href="'#'+${idx.index}" th:unless="${idx.index} == 0" role="tab"><td th:text="'Day ' + ${exercise.date} + ${exercise.name}" /> </a>
            </tr>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content">
            <th:block th:each="exercise, idx: ${exercisesList}">
                <div class="tab-pane active" th:id="${idx.index}" role="tabpanel">
                    <form action="#" th:action="@{/oauth2/redirect/getCustomizedExercises}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="allRepetitions">Wszystkie powtórzenia</label>
                                <input type="text" class="form-control" id="allRepetitions" th:placeholder="'/' + ${exercise.rounds * exercise.repetitionsInOneRound}" th:field="${loggedExercise.allRepetitions}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Zatwierdź</button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>