<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>

<div class="container-fluid home-banner">
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-light" id="header">
            <h1 class="text-center">
                Nie ma takiego Użytkownika w naszym serwisie!<br>
                Zostaniesz przeniesiony do strony startowej...
            </h1>
        </div>
    </div>
</div>
<script th:src="@{/js/error.js}"></script>
</body>
</html>