<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<!--<header class="navbar navbar-fixed-top navbar-inverse">To jest header tej strony</header> -->
<!-- <div class="page-header">
    <small>To jest naglowek strony</small>
</div> -->
<!-- <div class="jumbotron text-center" style="margin-bottom:0;background-color:lightblue">
    <h2>Witaj na stronie startowej aplikacji Fitness Freaks</h2>
</div> -->
<div class="container-fluid home-banner">
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-light">
            <div id="header">
                <h3 class="text-center">
                    Masz konto Google? Zaloguj się do Fitness Freaks używając konta Google
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-light">
            <div id="logDiv">
                <div class="social-login">
                    <a class="btn btn-block social-btn google text-light" role="button" th:href="@{/oauth2/authorize/google?redirect_uri=http://localhost:8080/oauth2/redirect}">
                        <img th:src="@{../images/google.png}" alt="Google" /> Log in with Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
