<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<div class="container-fluid home-banner">
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-light">
            <div id="header">
                <h3 class="text-center">
                    Masz konto Google? Zaloguj się do Fitness Freaks używając konta Google
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-items-center justify-content-center text-light">
            <div id="logDiv">
                <div class="social-login">
                    <a class="btn btn-block social-btn google text-light" role="button" th:href="@{/oauth2/authorize/google?redirect_uri=http://fitness-freaks.herokuapp.com/oauth2/redirect}">
                        <img th:src="@{../images/google.png}" alt="Google" /> Zaloguj się przez konto Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
