<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<div class="card">
    <div class="card-header">
        <strong>
            <a href="#" th:href="@{'/oauth2/logInto/'+${logExer.id}}" id="homeLink1" role="link">Strona startowa</a>
        </strong>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h4 th:text="'Data ćwiczenia:'+${logExer.date}"></h4>
        </div>
        <div class="col-4">
            <h4 th:text="'Nazwa ćwiczenia:'+${logExer.name}"></h4>
        </div>
        <div class="col-4">
            <h4 th:text="'Ilosć wszystkich zrobionych powtórzeń ćwiczenia:'+${logExer.allRepetitions}"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="#" th:href="@{'/oauth2/arrangeTraining/'+${logExer.id}}" class="btn btn-secondary" role="button">Wróć do logowania ćwiczeń</a>
        </div>
    </div>
</div>

</body>
</html>