<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks user panel</title>
     <meta http-equiv="Content-Type" content="application/json" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<div class="card">
    <div class="card-header">
        <div class="col-md">
            <strong class="text-left">
                <a href="#" th:href="@{'/oauth2/logInto/'+${user.id}}" id="homeLink1" role="link">Strona startowa</a>
            </strong>
            <a href="#" th:href="@{/}" id="logoutLink" role="link" onclick="logout()" style="">Wyloguj się</a>
        </div>
    </div>
</div>

<div class="container-fluid page-content">
        <ul class="nav nav-tabs" id="myTab" data-toggle="tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="advance-tab" data-toggle="tab" href="#advance" role="tab" aria-controls="advance" aria-selected="true">Postępy treningu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="plan-training-tab" data-toggle="tab" href="#plan-training" role="tab" aria-controls="plan-training" aria-selected="false">Zaplanuj trening</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="freak-instructor-tab" data-toggle="tab" href="#freak-instructor" role="tab" aria-controls="freak-instructor" aria-selected="false">Instruktor FREAK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Pomoc</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="advance" role="tabpanel" aria-labelledby="advance-tab">
                <h3>Twoje wyniki </h3>
                <a href="#" th:href="@{'/oauth2/getUserExercises/'+${user.id}}" id="homeLink" role="link" >Porównaj wykonany plan ćwiczeń z zakładanym przez Ciebie planem</a>
            </div>
            <div class="tab-pane" id="plan-training" role="tabpanel" aria-labelledby="plan-training-tab">
                <div id="ajaxPostInfoDiv"></div>
                <form id="arrangeForm" action="#" th:action="@{/oauth2/arrangeTrainingPart}" method="post">
                    <div  class="form-row">
                        <div class="form-group col-md-5">
                            <label for="date">Wybierz datę</label>
                            <input type="text" class="form-control datepicker" id="date" name="date" th:field="${dailyExer.date}" placeholder="Wybierz datę"/>
                        </div>
                    <div class="form-group col-md-3">
                        <label for="name">Ćwiczenie</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="${dailyExer.name}" placeholder="Wpisz ćwiczenie">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="rounds">Ilość serii ćwiczeń</label>
                        <input type="number" class="form-control" id="rounds" name="rounds" th:field="${dailyExer.rounds}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="repetitionsInOneRound">Ilość powtórzeń w serii</label>
                        <input type="number" class="form-control" id="repetitionsInOneRound" name="repetitionsInOneRound" placeholder="10, 30, 50 ..." th:field="${dailyExer.repetitionsInOneRound}">
                    </div>
                </div>
                    <button type="submit" class="btn btn-success" style="margin: 40px">Zatwierdź</button>
                </form>
                <div class="form-row" id="submitEntirePlan" style="margin: 40px">
                    <a href="#" th:href="@{'/oauth2/arrangeTraining/'+${user.id}}" class="btn btn-primary" role="button" th:onsubmit="arrangeTraining()">Przejdź do logowania ćwiczeń</a> <!-- onclick="arrangeTraining()" -->
                </div>
            </div>
            <div class="tab-pane" id="freak-instructor" role="tabpanel" aria-labelledby="freak-instructor-tab">
                <h2>Niech Instruktor FREAK zaplanuje trening za Ciebie... :) </h2>
                <form id="instructorFreak" action="#" th:action="@{'/oauth2/getCustomizedExercises/'+${user.id}}" method="post">
                    <div class="form-row">
                         <div class="form-group col-md-4" style="display:none;">
                            <label for="userId">Id</label>
                            <input type="text" class="form-control" name="userId" id="userId" th:attr="value=${user.id}" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAge">Wiek</label>
                            <input type="text" class="form-control" id="inputAge" placeholder="Wiek" th:field="${user.bodyParameters.age}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputRelShape">Ocena Twojej kondycji w %</label>
                            <input type="number" class="form-control" id="inputRelShape" placeholder="Kondycja w %" th:field="${user.bodyParameters.relativeShape}"> <!-- th:field="${user.bodyParameters.relativeShape}" -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputWeight">Waga</label>
                            <input type="number" class="form-control" id="inputWeight" placeholder="Waga w kg" th:field="${user.bodyParameters.weight}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputHeight">Wzrost</label>
                            <input type="number" class="form-control" id="inputHeight" placeholder="Wzrost w cm" th:field="${user.bodyParameters.height}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" >Zatwierdź</button> <!-- onclick="getCustomizedExercises()" -->
                </form>
            </div>
            <div class="tab-pane" id="help" role="tabpanel" aria-labelledby="help-tab">
                <p>Korzystając z serwisu fitness-freaks możesz:<br>
                    * zaplanować swój trening wybierajac zakładkę "Zaplanuj trening",<br>
                      gdzie dla danej daty wpisujesz dowolne ćwiczenie i określasz dla niego ilość serii<br>
                      i powtórzeń w serii<br><br>

                    * zlecić zaplanowanie treningu systemowi wybierając zakładkę "Instruktor FREAK"<br><br>

                    * zobaczyć postępy własnego treningu w zakładce "Postępy treningu"</p>
            </div>
        </div>
    <div class="row" style="margin: 40px">
        <h2 th:text="'Witaj na stronie Fitness Freaks'"/>
    </div>
</div>
<div id="feedback"></div>
<script th:src="@{/js/logInto.js}"></script>
<script>
    jQuery(function(){
        jQuery('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>
</body>
</html>