<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fitness-Freaks user panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/tokenCheck.js}"></script>
    <link rel="stylesheet" th:href="@{/css/homePage.css}" type="text/css"/>
</head>
<body>
<div class="card">
    <div class="card-header">
        <strong>
            <a href="#" th:href="@{'/oauth2/logInto/'+${userId}}" id="homeLink1" role="link">Strona startowa</a>
        </strong>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="myList" role="tablist">
            <tr th:each="exercise,i: ${exercisesList}">
                <a class="list-group-item list-group-item-action active" data-toggle="list" th:href="'#'+${i.index}" th:if="${i.index} == 0" role="tab"><td th:text="'Dzień: ' + ${exercise.date} + ', '+ ${exercise.name}" /></a>
                <a class="list-group-item list-group-item-action" data-toggle="list" th:href="'#'+${i.index}" th:unless="${i.index} == 0" role="tab"><td th:text="'Dzień: ' + ${exercise.date} + ', '+ ${exercise.name}" /> </a>
            </tr>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content">
            <div id="feedback"></div>
            <th:block th:each="exercise,i: ${exercisesList}">
                <div class="tab-pane active" th:if="${i.index} == 0" th:id="${i.index}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 th:text="'Zakładana ilość powtórzeń ćwiczenia: ' + ${exercise.assumedRepetitions}"></h4>
                            </div>
                            <div class="col-md-3">
                                <h4 th:text="'Wykonana ilość powtórzeń ćwiczenia: ' + ${exercise.loggedRepetitions}"></h4>
                            </div>
                        </div>
                </div>
                <div class="tab-pane" th:unless="${i.index} == 0" th:id="${i.index}" role="tabpanel">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 th:text="'Zakładana ilość powtórzeń ćwiczenia: ' + ${exercise.assumedRepetitions}"></h4>
                        </div>
                        <div class="col-md-3">
                            <h4 th:text="'Wykonana ilość powtórzeń ćwiczenia: ' + ${exercise.loggedRepetitions}"></h4>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<div class="row">
    <div id="feedbackDiv">
    </div>
</div>
</body>
</html>